@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<br />
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"  class="navbar-right form-inline">

    <div class="input-group col-md-3">
        <span dor="ex1" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input asp-for="Email" id="email ex1 input-sm" type="text" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="input-group col-md-3">
        <span dor="ex1" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe" style="color:white;">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <a href="#" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Preencha o nome de utilizar e password para reaizar login."><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Entrar</button>
        </div>
        </div>
        <div class="input-group col-md-3">
            @*<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" style="margin-top:5px" class="navbar-right form-inline">*@
                <a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" style="color:azure">Criar nova conta!</a><br/>
                <a asp-controller="Account" asp-action="ForgotPassword" style="color:azure">Esqueceu-se da palavra passe?</a>
            @*</form>*@
        </div>

</form>


<script src="~/Scripts/jquery-1.7.1.min.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}





