@model Cimob.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Programas de Mobilidade</h2>

<div>
    <h4><b>@Html.DisplayFor(model => model.Cidade) - @Html.DisplayFor(model => model.Pais)</b></h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Regressar à lista de destinos</a>

    @*    <a asp-action="Edit" asp-route-id="@Model.DestinationId">Edit</a> |*@
</div>
