@using Cimob.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile  @*<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Formulário para alterar os dados gerais do seu perfil."></i>*@</a></li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password</a></li>
        @*@if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
        }
        <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
    </ul>
</div>
