@model Cimob.Models.ManageViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager

<div class="box box-primary">
    <div class="box-body">
        <img class="img-responsive img-circle" alt="User profile picture" />
        <h3 class="profile-username text-center">@Model.Username</h3>
    </div>
</div>
